<!-- app/views/movies/index.html.erb -->
<table>
  <thead>
    <tr>
      <th><%= link_to 'Title', movies_path(sort: 'title') %></th>
      <th><%= link_to 'Rating', movies_path(sort: 'rating') %></th>
      <th><%= link_to 'Release Date', movies_path(sort: 'release_date') %></th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
