<!-- app/views/movies/new.html.erb -->
<h1>Add New Movie</h1>

<%= form_with(model: @movie, local: true) do |form| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% @movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :rating %><br>
    <%= form.text_field :rating %>
  </div>

  <div>
    <%= form.label :release_date %><br>
    <%= form.date_select :release_date %>
  </div>

  <div>
    <%= form.submit "Save" %>
  </div>
<% end %>

<%= link_to 'Back', movies_path %>
