<!-- app/views/movies/show.html.erb -->
<p id="notice"><%= notice %></p>

<h2><%= @movie.title %></h2>
<p>
  <strong>Rating:</strong>
  <%= @movie.rating %>
</p>
<p>
  <strong>Release Date:</strong>
  <%= @movie.release_date.strftime("%B %d, %Y") %>
</p>
<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back to Movies', movies_path %> |
<%= button_to 'Destroy', @movie, method: :delete, data: { confirm: 'Are you sure?' } %>
